[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
trio = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
profiling = "*"

[packages]
anyio = "*"
async-exit-stack = "*"
async-generator = "*"
outcome = "*"
pyusb = ">=1.0.0b2"
colorama = "*"
hexdump = "*"

[requires]
python_version = "3.7"
