[tool.poetry]
name = "aiocflib"
version = "2.5.1"
description = "Python async API for Crazyflie drones"
authors = ["Tamas Nepusz <tamas@collmot.com>"]
license = "GPL-3.0-or-later"
packages = [
    { include = "aiocflib", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.7"
anyio = "^3.2.1"
outcome = "^1.0.1"
pyusb = "^1.0.2"
colorama = ">=0.4.3"
hexdump = "^3.3"
colour = ">=0.1.5"

[tool.poetry.dev-dependencies]
pytest = "^7.1.1"
coverage = {extras = ["toml"], version = "^6.0"}
pytest-cov = "^3.0.0"
tox = "^3.17.1"
trio = ">=0.20.0"
tqdm = "^4.48.0"

[tool.poetry.extras]

[tool.coverage.paths]
source = ["src"]

[tool.coverage.run]
branch = true
source = ["src"]

[tool.coverage.report]
show_missing = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
